<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8"/>
		<title>Sample Mustache</title>
	</head>

	<body>
		<div>
			{{> home_top}}
		</div>
		<div>
			{{> home_main}}
		</div>
	</body>

</html>



